.clock-text {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

.hour {
  x: 30%;
  y: 50%+40;
}

.colon {
  x: 50%;
  y: 50%+40;
}

.minute {
  x: 70%;
  y: 50%+40;
}

.date-text {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 75%;
  fill: white;
}

.battery-text {
  font-size: 25;
  font-family: System-Bold;
  text-length: 10;
  x: 2%;
  y: 10%;
  fill: white;
}

#hrm-text {
  font-size: 30;
  font-family: System-Bold;
  text-length: 10;
  x: 14%;
  y: 95%;
  fill: white;
}

#hrm-icon {
  width: 30;
  height: 30;
  x: 2%;
  y: 87%;
  fill: #FF214A;
}